html, body{margin:0; padding:0; font-size:12px; font-family: Verdana, Arial, sans-serif; background-color:#f0f0f0; color:#000000;}
h1, h1 a:link, h1 a:visited{margin:0; font-size:20px; color:#323476 !important;}
h2, h2 a:link, h2 a:visited{margin:0; font-size:15px; color:#333333 !important;}
li{margin:10px 0px 10px 0px; font-size:11px;}
ul{margin:0; padding-left:25px;}
table{border-collapse:collapse;}
img {border:0;}
textarea{width:490px; height:200px;}

a:link, a:visited{text-decoration:none; color:#333333;}

#header{width:1023px; height:108px; background:url(https://www.lex.bg/assets/im/2011/header_bg.png) repeat-x; margin-left:auto; margin-right:auto; margin-top:-1px; padding-left:1px;}
#navigator{width:1024px; height:31px; background:url(https://www.lex.bg/assets/im/2011/navigator_bg.png) repeat-x; font-size:14px; font-weight:bold; margin-left:auto; margin-right:auto; }
#navigator .head_nav, #house{padding:6px 0 8px 0; float:left;}
#navigator .head_nav a:link, #navigator .head_nav a:visited{padding:6px 20px 8px 20px; color:#ffffff;}
#navigator #house a:link {padding:6px 20px 8px 20px; color:#ffffff;}
#navigator .head_nav a:hover,  #house:hover, .this_page{background:url(https://www.lex.bg/assets/im/2011/navigator_btn_hover.png) repeat-x;}
#navigator2{min-width:630px; height:28px; font-size:13px; font-weight:bold;}
#navigator2 .service_nav{padding:6px 0px 8px 0px; float:left;}
#navigator2 .service_nav a:link, #navigator2 .service_nav a:visited{padding:6px 12px 8px 12px; color:#323476;}
#navigator2 .service_nav a:hover, #navigator2 .service_nav a:focus, .this_sub_page{background:url(https://www.lex.bg/assets/im/2011/navigator2_bg.png) repeat-x; color:#ffffff;}
#house{padding:5px 15px 5px 15px;}
#logo{padding-top:15px;}
#head_btn{margin-top:-80px;	float:right; }
#container{padding:20px 0px 20px 0px; background:url(https://www.lex.bg/assets/im/2011/container_bg.png) repeat-x; background-color:#fff;}
#colleft{width:630px; float:left;}
#colright{width:300px; float:right;}
#search1{margin:0; padding:5px 0px 0px 10px; width:960px; height:25px; background:url(https://www.lex.bg/assets/im/2011/search_big_bg.png) no-repeat;}
#search2{margin:0; padding:5px 0px 0px 10px; width:300px; height:25px; background:url(https://www.lex.bg/assets/im/2011/search_bg.png) no-repeat;}
#search1_txt{width:873px; border:0; background:0; color:#67677b;}
#search2_txt{width:265px; border:0; background:0; color:#67677b;}
#comment_form table{width:630px; background-color:#ededed;}
#enter_form table{width:315px; background-color:#ededed;}
#enter_btn{margin:0px 0px 10px 0px;}
#td_input{margin-top:10px; vertical-align:top; width:45px;}
#td_img{margin-left:15px;}
#td_submit{margin:8px 12px 0px 0px;}
#see_all_comments{padding:5px; text-align:right;}
#bulletin_txt{width:120px; border:1px solid #000000;}
#bulletin_btn{margin:5px 0px -5px 0px;}
#nums a{margin:0px 7px 0px 7px;}
#tjobs{width:630px;}
#tjobs td{padding:10px 0px 10px 15px; border-left:1px solid #fefefe;}
#tjobs th{padding:0px 0px 10px 15px; font-size:12px; font-weight:bold; text-align:left; color:#323476;}
#magazine{padding:15px; width:600px; height:264px; background:url(https://www.lex.bg/assets/im/2011/magazine_bg.png) no-repeat center top;}
#footer, .content{margin:0 auto; width:960px;}
#navigator .content{margin:0 auto; width:1023px;}
#footer{padding:20px 0px 5px 0px; line-height:25px; background:url(https://www.lex.bg/assets/im/2011/footer_line.png) no-repeat left top;}
#footer .footer_nav a:link, #footer .footer_nav a:visited{text-decoration:none; font-weight:normal; color:#909297;}
#footer p, #footer p a:link, #footer p a:visited{text-decoration:none; font-size:10px; color:#909297;}

.arrow3, .arrow7, .arrow8{margin:0; padding:0; line-height:17px; list-style-type:none;}
.arrow3 li{background:url(https://www.lex.bg/assets/im/2011/arrow3.png) no-repeat 0px 4px; padding-left:18px;}
.arrow7 li{background:url(https://www.lex.bg/assets/im/2011/arrow7.png) no-repeat 0px 4px; padding-left:12px;}
.arrow8 li{background:url(https://www.lex.bg/assets/im/2011/arrow8.png) no-repeat 0px 4px; padding-left:18px;}
.lectures li{list-style-type:circle; margin:0; padding:0; background:0;}
.event_pic{margin:15px 10px 10px 0px;}
.event_txt{margin:15px 0px 10px 0px;}
.date, .hint{margin-top:5px; font-size:10px; color:#67677b;}
.fon{padding:15px; text-align:center; background-color:#f1f1f1;}
.lupa{margin:2px 0px -2px 0px;}
.dlink{font-size:11px; color:#303789 !important;}
.clink{font-size:13px; color:#323476 !important;}
.olink{font-size:11px; color:#67677b !important;}
.rlink{font-size:11px; color:#8791d8 !important;}
.plink{font-size:13px; color:#8791d8 !important;}
.lip{margin:0px 0px 5px 0px;}
.hint{line-height:12px;}
.magazine{margin:0px 15px 0px 15px; width:120px; float:left; font-size:10px; color:#494951;}
.mtitle{margin-top:5px; font-size:11px; font-weight:bold;}
.mauthor{margin:7px 0px 7px 0px;}
.mprice_old{text-decoration:line-through;}
.mprice_new{padding-left:5px; font-weight:bold; color:#b10101;}
.ulinfo{margin:-10px 0px 10px 5px; padding:0; width:125px;}
.lists{margin:7px 0px 20px 0px;}
.smallpic{margin-right:5px; width:100px;}
.smallinfo{margin-left:5px; width:190px;}
.lineh{margin:10px 0px 10px 0px;}
.rss{margin-top:7px;}
.text{line-height:17px;}
.size10{font-size:10px;}
.bold{font-weight:bold; color:#333333;}
.h200{overflow:hidden;}
.col30{margin-right:30px;}
.col300{width:300px;}
.col630{width:630px; overflow: hidden;}
.left{float:left;}
.right{float:right;}
.rowsp{height:20px;}
.rowsp2{height:5px;}
.wordsp{margin-left:20px;}
.wordsp a{margin-right:15px;}
.top{vertical-align:top;}
.bottom{vertical-align:bottom;}
.center{text-align:center; vertical-align:middle;}
.banner300_250{width:300px; height:250px; background-color:#5167c1;}
.banner468_60{width:468px; height:60px; margin:0px 66px 0px 66px; background-color:#5167c1;}
.th{padding:15px 0px 0px 15px; vertical-align:top; color:#303789;}
.vip1{font-weight:bold; background:url(https://www.lex.bg/assets/im/2011/vip_dark.png) no-repeat;}
.vip2{font-weight:bold; background:url(https://www.lex.bg/assets/im/2011/vip_light.png) no-repeat;}
.job1{background-color:#f1f1f1;}
.job2{background-color:#f7f7f7;}
.comment_input{width:490px;}
.enter_input{width:215px;}
.comment1{vertical-align:top; background-color:#f1f1f1;}
.comment2{vertical-align:top; background-color:#f7f7f7;}
.comment_pic{padding:8px;}
.comment_name{padding:8px 0px 0px 10px; font-size:12px; color:#303789;}
.comment_date{padding:5px 10px 0px 0px; text-align:right;}
.comment_text{padding:20px 5px 20px 10px;}
.comment_numb{padding-top:4px; font-size:11px; text-align:center; color:#777777; background-color:#dbdbdb;}
.comments{margin-left:4px; padding:4px 8px 4px 8px; height:12px; text-align:center; font-size:8px; color:#8791d8; background:url(https://www.lex.bg/assets/im/2011/comment.png) no-repeat center center;}
.event{margin-right:8px; padding:1px 4px 1px 4px; width:60px; height:8px; font-size:11px; font-weight:bold; color:#323476; background:url(https://www.lex.bg/assets/im/2011/event.png);}

.slist {list-style:none; margin:0 0 10px 0; padding:0; float:left; width:100%; background:url(https://www.lex.bg/assets/im/slistbg.gif) repeat-y 200px;}
.slist li{float:left; width:47%; margin:0 0 10px 0; padding:0 1% 0 2%; background:url(https://www.lex.bg/assets/im/b3.gif) no-repeat left 6px;}
.slist li.imp {background:url(https://www.lex.bg/assets/im/b4.gif) no-repeat left 6px;} .slist li.l {margin:0;}

.boxinb5 {background:url(https://www.lex.bg/assets/im/boxibgnb.gif) no-repeat bottom;}
.boxi5 {float:left; background:url(https://www.lex.bg/assets/im/boxib.gif) no-repeat bottom; padding:10px 8px 5px 8px;}

.form-elem input.submit, input.submit {margin-left:130px; background:#cbcbcb; color:#323476; border-style:none; height:30px; width:80px; font-weight:bold; font-size:11px; text-transform: uppercase;}


#tl, #timeline { display: block; width: 645px; height: 120px; }

.addtomy {display:block;width:160px; background: #cbcbcb; height: 30px; color: #323476; text-decoration:none;  font-size:10px; line-height:22px}
.addtomy:hover {color:#fff; background-position:0 -24px;}

#dv_email{ border-width:1px; border-color:black; }

#td_input {width:150px;}


.error { color:red; }

.comments{ width:100%; }

.box {margin-top:50px; margin-bottom:50px}

a.reg {float:left; font-weight:bold; font-size:.9em; text-decoration:none; background:url(https://www.lex.bg/assets/im/reg.gif) no-repeat; display: block; height:13px; padding:2px 0 0 20px; color:#ffffff;}

a.fpass {float:right; font-size:.9em; text-decoration:none; background:url(https://www.lex.bg/assets/im/fpass.gif) no-repeat 0 4px; display:block; padding:2px 8px 0 9px; color:#ffffff;}

.form-elem label { width:150px; padding:0 0 5px 0; display:block; float:left; }

p.form-elem { clear:both; padding:5px; background-color:WhiteSmoke; }

#user_profile h1.title {text-align:left;}

#user_profile .form-elem img { margin:0 0 0 40px; }

.heightStab {height:90px; }

#head_btn {width:250px; text-align:right; }

.pager {float:left; width:100%;} .pager span {float:left; padding:0 10px 0 0;}
.pager strong, .pager a {display:block; float:left; padding:1px 4px; margin:0 10px 10px 0; text-decoration:none; font-size:.9em;}
.pager a {border:solid 1px #cbcbcb; background-color:#cbcbcb; color:#323476;} .pager strong {color:#000;} .pager a.prev, .pager a.next {border:0;} .pager a.next {margin-left:8px;}
#navigator .selected {background:url(https://www.lex.bg/assets/im/2011/navigator_btn_hover.png) repeat-x;}
#navigator #myrights.selected{background: #ebebeb url(../im/menu_bg_myrights.png) repeat; padding: 6px 0px 20px 0px;} /*url(../im/myrights_sprite.png) -108px -155px repeat;*/
#navigator #myrights.selected a{color:#69980e;}
#navigator #myrights.selected a:hover{color: #ffffff;}
.job_descr {font-size:11px; padding-top:10px; padding-bottom:10px}
.job_descr_b {padding-top:10px; padding-bottom:10px}


.navi-big {width:100%px; float:left; margin:0; text-transform:uppercase; background:#fff;}
.navi-big strong {display:block; margin:0 5px 0 0; color:#fff; text-align:center; font-weight:bold; float:left; height:26px; background:url(https://www.lex.bg/assets/im/navi-strong.gif) repeat-x right;}
.navi-big strong span {display:block; float:left; background:#cbcbcb; color:#323476; height:20px; padding:6px 10px 0 7px;  font-weight:bold;}
.navi-big a {display:block; margin:0 5px 0 0; color:#747474; text-decoration:none; float:left; height:24px; background:#cbcbcb; color:#323476;  font-weight:bold;}
.navi-big a span {display:block; cursor:pointer; float:left; background:#cbcbcb; color:#323476; height:19px; padding:5px 5px 0 5px;  font-weight:bold;}
.navi-big a:hover { background:#ededed; color:#323476; font-weight:bold;}
.navi-big a:hover span, .navi a:hover span {background:#ededed; color:#323476; font-weight:bold;}

.law, .reg_laws, .regs, .code , .docs, .otchetiLink {background:url(https://www.lex.bg/assets/im/2011/arrow7.png) no-repeat 0px 4px; padding-left:12px;}

.searchfields {border:0; background:0; color:#67677b; margin:0; padding:5px 0px 0px 10px; width:200px; height:25px; background:url(https://www.lex.bg/assets/im/2011/search_bg200.png) no-repeat;} 
.arrow3span {background:url(https://www.lex.bg/assets/im/2011/arrow3.png) no-repeat 0px 0px; padding-left:18px;}
.arrow3spanGray {background:url(https://www.lex.bg/assets/im/2011/arrow3gray.png) no-repeat 0px 0px; padding-left:18px;}

.tableBackground {background-color:#ededed;}

.splist {width:100%; padding:10px; border-spacing:10px;}


.tabs_inner {border-bottom: solid 1px #cbcbcb; width:100%; font-size:.9em; height:22px; padding:0px 5px 0 5px; float:left;  margin:0;}
.tabs_inner strong {font-weight:normal; background:#CECECE; color:#000; height:18px; display:block; float:left; padding:4px 6px 0 6px;}
.tabs_inner a {display:block; float:left; padding:4px 6px 0 6px; height:18px; text-decoration:none;}

.lawlist {position:relative; padding-bottom:26px;}
.lawlist .edit {position:absolute; right:10px; bottom:10px; background:url(https://www.lex.bg/assets/im/icons_new/edit_icon.gif) no-repeat 0 0; line-height:16px; padding-left:22px}
.lawlist .delete {position:absolute; right:10px; bottom:10px; background:url(https://www.lex.bg/assets/im/icons_new/delete_icon.gif) no-repeat 0 0; line-height:16px; padding-left:22px}
.lawlist .download {background:url(https://www.lex.bg/assets/im/download.gif) no-repeat 0 3px; font-weight:bold; padding-left:15px;}
.lawlist .xls {background:url(https://www.lex.bg/assets/im/xls.gif) no-repeat 0 1px; font-weight:bold; padding-left:17px;}
.lawlist .doc {background:url(https://www.lex.bg/assets/im/doc.gif) no-repeat 0 1px; font-weight:bold; padding-left:17px;}
.lawlist .pdf {background:url(https://www.lex.bg/assets/im/pdf.gif) no-repeat 0 1px; font-weight:bold; padding-left:17px;}
.lawlist .txt {background:url(https://www.lex.bg/assets/im/txt.gif) no-repeat 0 1px; font-weight:bold; padding-left:17px;}

.vip {background: url(https://www.lex.bg/assets/im/vip.gif) no-repeat right top}

.col480{width:480px;}

#article_font p a:link, #article_font p a.visited { color:#0000FF !important; }
#article_font p a:link, a.visited { color:#0000FF !important; }

/*----- my rights menu begin -----*/
#navigator_myrights{width:1023px;}
#navigator_myrights .wrapper{display:none;width:959px;height:105px;background:#ebebeb;margin:12px auto 0}
#navigator_myrights .thumbs{width:900px;overflow:hidden;float:left}
#navigator_myrights ul{display:inline-block;width:1200px;margin:0;padding:0}
#navigator_myrights li{width:100px;height:105px;list-style:none;text-align:center;float:left;margin:0;padding:0}
#navigator_myrights li a{display:block;width:100%;height:100%}
#navigator_myrights .nav_myrights{float:left}
#navigator_myrights span.left_arrow,#navigator_myrights span.right_arrow{display:inline-block;width:29px;height:104px;float:left;overflow:hidden;cursor:pointer}
#navigator_myrights span.left_arrow{background:url(../im/myright_im/myrights_sprite2015.png) -9px -10px no-repeat}
#navigator_myrights span.left_arrow.active{background:url(../im/myright_im/myrights_sprite2015.png) -13px -386px no-repeat}
#navigator_myrights span.right_arrow{background:url(../im/myright_im/myrights_sprite2015.png) -17px -119px no-repeat}
#navigator_myrights span.right_arrow.active{background:url(../im/myright_im/myrights_sprite2015.png) -17px -266px no-repeat}
#navigator_myrights li.selected{background:#f0f8e2}
#navigator_myrights li:hover{background:#f0f8e2}
#navigator_myrights .legal_entities a{background:url(../im/myright_im/myrights_sprite2015.png) -38px -8px no-repeat}
#navigator_myrights .deal a{background:url(../im/myright_im/myrights_sprite2015.png) -139px -8px no-repeat}
#navigator_myrights .sundry a{background:url(../im/myright_im/myrights_sprite2015.png) -239px -8px no-repeat}
#navigator_myrights .work a{background:url(../im/myright_im/myrights_sprite2015.png) -340px -8px no-repeat}
#navigator_myrights .employer a{background:url(../im/myright_im/myrights_sprite2015.png) -440px -8px no-repeat}
#navigator_myrights .police a{background:url(../im/myright_im/myrights_sprite2015.png) -539px -8px no-repeat}
#navigator_myrights .mony a{background:url(../im/myright_im/myrights_sprite2015.png) -639px -8px no-repeat}
#navigator_myrights .heritage a{background:url(../im/myright_im/myrights_sprite2015.png) -739px -8px no-repeat}
#navigator_myrights .citizenship a{background:url(../im/myright_im/myrights_sprite2015.png) -839px -8px no-repeat}
#navigator_myrights .administration a{background:url(../im/myright_im/myrights_sprite2015.png) -943px -8px no-repeat}
#navigator_myrights .europa a{background:url(../im/myright_im/myrights_sprite2015.png) -1052px -8px no-repeat}
#navigator_myrights .family a{background:url(../im/myright_im/myrights_sprite2015.png) -1150px -8px no-repeat}
/*----- my rights menu end -----*/

/*----- my rights home section BEGIND -----*/
h1.title_myrights,h1.title_myrights a:link,h1.title_myrights a:visited{color:#29235C!important}
h1.title_myrights a.logo_myrights /*img*/{float:left;margin-top:4px;margin-right:11px; display: block; width:146px; height: 20px; background:url(../im/myright_im/pravatami_logo_title.png) 0 0 no-repeat}
/*----- my rights home section END -----*/

/*----- my rights home section  latest news BEGIND -----*/
.news_wrap .singel_news{margin-bottom:15px}
.news_wrap .img_wrap{margin-right:11px;margin-top:2px;float:left}
.news_wrap .title_news{width:515px;float:left}
.news_wrap .title_news h2{font-size:12px}
/*----- my rights home section latest news END -----*/

/*----- my rights article - more from category BEGIN -----*/
.more_from_category{background:#f0f0f0;border-radius:3px;height:253px}
.more_from_category .news_more_category{width:191px;float:left;margin:0 0 0 14px}
.more_from_category h2.category_title{color:#69980e!important;font-size:20px;padding:6px 0 10px 14px}
.more_from_category h3.title_news{font-size:11px;margin:7px 0}
.more_from_category .comments{background:url(../im/myright_im/comment_gray_bg.png) center center no-repeat; padding: 4px 8px 4px 10px; margin-left:0;}
/*----- my rights article - more from category END -----*/

/*----- my rights home - block right column BEGIN -----*/
.myRights_rightColumn{margin-bottom:24px;padding-left:14px;background:#f1f1f1;border-radius:3px;height:210px}
.myRights_rightColumn .singel_news{margin-bottom:13px}
.myRights_rightColumn .logo_myrights{display:block;width:132px;height:20px;background:url(../im/myright_im/pravatami_logo_title.png) 0 0 no-repeat}
.myRights_rightColumn h2{padding:10px 0 11px}
.myRights_rightColumn .singel_news h2{padding:0}
.myRights_rightColumn .comments{background:url(../im/myright_im/comment_gray_bg.png) center center no-repeat}
.myRights_rightColumn .img_wrap{float:left;margin-right:6px}
.myRights_rightColumn .title_news{width:150px;float:left; margin-top: -2px;}
.myRights_rightColumn .title_news h2{font-size:11px; line-height:13px;}
/*----- my rights home - block right column end -----*/


/*----- fix rihgt column - facebook plygin begin -----*/
.facebook_right_column{min-height: 80px; display:none;}
/* #etarget-id-84094 {margin-top:280px;} */

/*logos in footer*/
#footer .footer_logos{
	width: 960px;
	margin: 10px auto;
	padding: 10px 0 0;
	 height: 38px; 
	border-top: 1px solid #e5e5e5;
}
#footer .footer_logos .netinfoLogo{
  float: left;

}
#footer .footer_logos .mtgLogo{
  float: right;
  margin-top: 10px;
}
#footer br.clear{
	clear: both;
	content: '';
}

/*-----spektar-----*?
#navigator .selected {background:url(https://www.lex.bg/assets/im/2011/navigator_btn_hover.png) repeat-x;}
#navigator #spektar.selected{background: #ebebeb url(../im/menu_bg_myrights.png) repeat; padding: 6px 0px 20px 0px;} /*url(../im/myrights_sprite.png) -108px -155px repeat;*/
#navigator #spektar.selected a{color:#69980e;}
#navigator #spektar.selected a:hover{color: #ffffff;}
.spektar_rightColumn{margin-bottom:24px;padding-left:14px;background:#f1f1f1;border-radius:3px;height:210px}
.spektar_rightColumn .singel_news{margin-bottom:13px}
.spektar_rightColumn .logo_spektar{display:block;width:132px;height:20px;background:url(../im/myright_im/pravatami_logo_title.png) 0 0 no-repeat}
.spektar_rightColumn h2{padding:10px 0 11px}
.spektar_rightColumn .singel_news h2{padding:0}
.spektar_rightColumn .comments{background:url(../im/myright_im/comment_gray_bg.png) center center no-repeat}
.spektar_rightColumn .img_wrap{float:left;margin-right:6px}
.spektar_rightColumn .title_news{width:150px;float:left; margin-top: -2px;}
.spektar_rightColumn .title_news h2{font-size:11px; line-height:13px;}

#navigator_spektar {width:1022px; margin-left:auto; margin-right:auto; background-color:#fff;}
#navigator_spektar .wrapper{display:none;width:959px;height:105px;background:#ebebeb;margin:12px auto 0}
#navigator_spektar .thumbs{width:900px;overflow:hidden;float:left}
#navigator_spektar ul{display:inline-block;width:1200px;margin:0;padding:0}
#navigator_spektar li{width:100px;height:105px;list-style:none;text-align:center;float:left;margin:0;padding:0}
#navigator_spektar li a{display:block;width:100%;height:100%}
#navigator_spektar .nav_spektar{float:left}
#navigator_spektar span.left_arrow,#navigator_spektar span.right_arrow{display:inline-block;width:29px;height:104px;float:left;overflow:hidden;cursor:pointer}
#navigator_spektar span.left_arrow{background:url(../im/myright_im/myrights_sprite2015.png) -9px -10px no-repeat}
#navigator_spektar span.left_arrow.active{background:url(../im/myright_im/myrights_sprite2015.png) -13px -386px no-repeat}
#navigator_spektar span.right_arrow{background:url(../im/myright_im/myrights_sprite2015.png) -17px -119px no-repeat}
#navigator_spektar span.right_arrow.active{background:url(../im/myright_im/myrights_sprite2015.png) -17px -266px no-repeat}
#navigator_spektar li.selected{background:#f0f8e2}
#navigator_spektar li:hover{background:#f0f8e2}
#navigator_spektar .legal_entities a{background:url(../im/myright_im/myrights_sprite2015.png) -38px -8px no-repeat}
#navigator_spektar .deal a{background:url(../im/myright_im/myrights_sprite2015.png) -139px -8px no-repeat}
#navigator_spektar .sundry a{background:url(../im/myright_im/myrights_sprite2015.png) -239px -8px no-repeat}
#navigator_spektar .work a{background:url(../im/myright_im/myrights_sprite2015.png) -340px -8px no-repeat}
#navigator_spektar .employer a{background:url(../im/myright_im/myrights_sprite2015.png) -440px -8px no-repeat}
#navigator_spektar .police a{background:url(../im/myright_im/myrights_sprite2015.png) -539px -8px no-repeat}
#navigator_spektar .mony a{background:url(../im/myright_im/myrights_sprite2015.png) -639px -8px no-repeat}
#navigator_spektar .heritage a{background:url(../im/myright_im/myrights_sprite2015.png) -739px -8px no-repeat}
#navigator_spektar .citizenship a{background:url(../im/myright_im/myrights_sprite2015.png) -839px -8px no-repeat}
#navigator_spektar .administration a{background:url(../im/myright_im/myrights_sprite2015.png) -943px -8px no-repeat}
#navigator_spektar .europa a{background:url(../im/myright_im/myrights_sprite2015.png) -1052px -8px no-repeat}
#navigator_spektar .family a{background:url(../im/myright_im/myrights_sprite2015.png) -1150px -8px no-repeat}
#navigator_spektar .hp a{background:url(../im/myright_im/myrights_sprite2015.png) -1248px -8px no-repeat}


/*----- spektar menu end -----*/

/*----- spektar home section BEGIND -----*/
h1.title_spektar,h1.title_spektar a:link,h1.title_spektar a:visited{color:#69980e!important}
h1.title_spektar a.logo_spektar /*img*/{float:left;margin-top:4px;margin-right:11px; display: block; width:146px; height: 20px; background:url(../im/myright_im/pravatami_logo_title.png) 0 0 no-repeat}
/*----- spektar home section END -----*/

#navigator_spektar .wrapper .nav_spektar .thumbs ul li a {text-transform:uppercase; color: #707070; font-weight:bold;}
#navigator_spektar .wrapper .nav_spektar .thumbs ul li a:hover {color: #69980e;}
#navigator_spektar .wrapper .nav_spektar .thumbs ul li {width:150px;}
   
#navigator_spektar .legal_entities a {background-image:url(https://www.lex.bg/assets/im/2011/business-icon.png) !important; background-repeat:no-repeat; background-position: center 14px !important; padding-top:70px;}
#navigator_spektar .sundry a {background-image:url(https://www.lex.bg/assets/im/2011/tech-icon.png) !important; background-repeat:no-repeat; background-position: center 15px !important; padding-top:70px;}
#navigator_spektar .mony a {background-image:url(https://www.lex.bg/assets/im/2011/finance-icon.png) !important; background-repeat:no-repeat; background-position: center 15px !important; padding-top:70px;}
#navigator_spektar .heritage a {background-image:url(https://www.lex.bg/assets/im/2011/auto-icon.png) !important; background-repeat:no-repeat; background-position: center 23px !important; padding-top:70px;}
#navigator_spektar .citizenship a {background-image:url(https://www.lex.bg/assets/im/2011/lifestyle-icon.png) !important; background-repeat:no-repeat; background-position: center 18px !important; padding-top:70px;}
#navigator_spektar .health a {background-image:url(https://www.lex.bg/assets/im/2011/health--icon.png) !important; background-repeat:no-repeat; background-position: center 18px !important; padding-top:70px;}
#navigator_spektar .persons a {background-image:url(https://www.lex.bg/assets/im/2011/persons-icon.png) !important; background-repeat:no-repeat; background-position: center 15px !important; padding-top:70px;}

#navigator_spektar .hp a {background-image:url(https://www.lex.bg/assets/im/2011/hplogo2.png) !important; background-repeat:no-repeat; background-position: center 18px !important; padding-top:70px;}

#navigator_spektar .wine a {background-image:url(https://www.lex.bg/assets/im/2011/wspaicon.png) !important; background-repeat:no-repeat; background-position: center -10px !important; padding-top:70px;}

#navigator_spektar .wine2 a {background-image:url(https://www.lex.bg/assets/im/2011/winespafebruary.png) !important; background-repeat:no-repeat; background-position: center 10px !important; padding-top:70px;}

#navigator_spektar .bts a {background-image:url(https://www.lex.bg/assets/im/2011/backtoschool-icon.png) !important; background-repeat:no-repeat; background-position: center 18px !important; padding-top:70px;}

#navigator_spektar .b2b a {background-image:url(https://www.lex.bg/assets/im/b2b-icon.png) !important; background-repeat:no-repeat; background-position: center 18px !important; padding-top:70px;}

#navigator_spektar .xmas20 a {background-image:url(https://www.lex.bg/assets/im/xmas-icon20.png) !important; background-repeat:no-repeat; background-position: center 12px !important; padding-top:70px;}
    
#navigator_spektar .thumbs { margin-left:-1px !important;}
   
#navigator_spektar .right_arrow {background: url(https://www.lex.bg/assets/im/myright_im/myrights_sprite2015.png) -16px -119px no-repeat !important;}

#navigator #spektar.selected{background: #ebebeb url(../im/menu_bg_myrights.png) repeat; padding: 6px 0px 20px 0px;} /*url(../im/myrights_sprite.png) -108px -155px repeat;*/

#cielasidebar {border: solid 1px rgb(180,180, 180); padding:10px; width:280px; color: #323476; font-size:16px; font-family: Verdana, Arial, sans-serif; font-weight:bold;}
#cielasidebar span {display:block; text-align:center; margin-bottom:12px;}
#cielasidebar a, #cielasidebar a:visited {display:block; font-weight:normal; font-size:12px; text-decoration:none; color: #000; margin-bottom:5px;}
#cielasidebar a:hover {text-decoration:underline;}

.lamlh-image {float:left; margin-right:18px;}

.lamlh-right-column {background-color:#cdded7; padding-top:10px;}
.lamlh-right-column img {margin:6px 4px 0 6px; float:left;}
.lamlh-right-column h2 {color: #29235C !important; display:inlin-block; text-align:left !important; margin-top:-10px;}

.gdedisplay {margin-left:auto; margin-right:auto; text-align:center;}

.spectrehr {margin-bottom: 3.5em; margin-top: 2em}

#navigator_spektar { pointer-events:none; }
.nav_spektar { pointer-events:all; }

#newsblock {width: 630px;}

#leadnews #imglink {display: block; background-size: cover; width: 630px; height: 366px; position: relative; text-decoration: none; margin-bottom: 14px;}
#leadnews #abovetitle {margin: 0; padding: 6px; display: block; width: 618px; height: 111px; background-image:url('/assets/images/mainnewsbg.png'); background-repeat: repeat-x; color: #fff; font-weight: bold; font-size: 16px;}

#titlelink {display: inline-block; width: 440px; font-size: 20px; font-weight: bold; border-right: 1px solid #9a9a9a; padding-right:12px; text-decoration: none; color: #000;}
#titlelink span {font-style: italic; display: inline-block; font-weight: normal; font-size: 16px; margin-top: 10px;}
#atributeslink {display: inline-block; width: 150px; font-size: 14px; padding-left: 8px; vertical-align: top; text-decoration: none; color: #000;} 
#atributeslink span {display: inline-block; margin-top: 10px; color: rgb(128,128,128);}
#leadnews:hover {opacity: 0.85;}

#morenews {width: 630px; height: 600px; overflow-y: scroll; margin-top: 52px; padding-right: 6px;}
.morenewsitem {min-height: 140px; margin-bottom: 50px;}
.morenewsitem a {display: block; width: 100%; text-decoration: none;}
.morenewsitem a:hover {opacity: 0.85;}
.morenewsitem a .mnimage {float: left; width: 211px; height: 135px; display: inline-block; background-repeat: no-repeat; background-size: cover; backround-position: top left; margin-right: 10px; margin-top: 4px;}
.morenewsitem a .mnuptitle  {font-weight: bold; font-size: 14px; color: rgb(172,172,172);}
.morenewsitem a .mntitle {color: #000; font-weight: bold; font-size: 16px; margin-top: 8px; margin-bottom: 8px; margin-left: 221px;}
.morenewsitem a .mnsubtitle {font-size: 14px; font-style: italic; margin-left: 221px; color: #000;}
.morenewsitem a .attrib {margin-left: 221px; margin-top: 10px; font-size: 12px;}
.morenewsitem a .attrib .attrauthor {float: left; width: 65%; color: #000;}
.morenewsitem a .attrib .attrdate {float: right; width: 33%; color: rgb(128,128,128); text-align: right; margin-right: 4px;} 

#spectrefirst {height: 30px; margin: 72px 0 22px 0; font-size: 20px;  color: #323476; background-image:url('/assets/images/spectrebg.png'); background-repeat: no-repeat;}
.spectitle {color: #8791d8 !important;} 

.contextads {background-color: rgb(234,255,255);}
.contextads:hover {text-decoration:underline !important;}

#konstitutsiya {width:630px; height:225px; background-color: #e2e7f5; background-image:url('/assets/images/konstcorner.png'); background-repeat:no-repeat; background-position: right top;}
#konstitutsiya #ktitle {color: #323476; font-weight:bold; font-size:20px; font-family:Verdana; margin-left:6px; padding-top:10px;}
#konstitutsiya #ksubtitle {color: #000; font-size:10px; font-family:Verdana; margin-left:6px; margin-top:4px; margin-bottom:30px;}
.professors {display:inline-block; width:150px; font-family:Verdana; font-size:10.5px;}
.professors img {margin-bottom:4px;}
.professors a {text-decoration:none; color:#000;}
#todorov, #valchev, #gerdjikov {margin-left:5px;}

.newguidebullets, .newguidebulletcov {padding-left:54px; margin-top:24px;}
.newguidebullets li, .newguidebulletcov li {position: relative; list-style-type: none; line-height:38px;}
.newguidebullets  li:before {
        content: "";
        position: absolute;
        top: 2px;
        left: -36px;
        width: 42px;
        height: 39px;
        background-image: url('/assets/im/guide-book.png');
    }
.newguidebullets li a, .newguidebulletcov li a {display:block; font-size:16px; margin-left:18px;}
.newguidebullets li a:hover, .newguidebulletcov li a:hover {text-decoration:underline; color:#8791d8;}

.newguidebulletcov li {line-height:20px;}
.newguidebulletcov li:before {
        content: "";
        position: absolute;
        top: 2px;
        left: -36px;
        width: 42px;
        height: 39px;
        background-image: url('/assets/im/guide-book-covid.png');
}

.personsh4 {font-size:20px; font-weight:bold; margin-top:36px; margin-bottom:36px; background-color:#5c6480; padding:24px 8px 44px 8px; font-family: 'Times New Roman'; font-style: italic; color: #fff; text-align:center; background-image:url("/assets/images/persons-quotes.png"); background-repeat:no-repeat; background-position: bottom right;}
.personsbio {margin-top:48px; border-top: 1px solid #4960be; padding: 34px 12px 16px 14px; font-size:11px; line-height:14px; background-color:#edf1ff; background-image:url("/assets/css/images/vizitka.png"); background-repeat:no-repeat; background-position: top left;} 
.personsbio p {font-style:italic;}